// html {
//     scroll-snap-type: y proximity;
//     //    scroll-snap-type: y mandatory;
//     scroll-padding: 55px;

//     #overall-content {
//         overflow: initial;
//     }

//     #topbar {
//         scroll-snap-align: start;
//     }

//     #left-side .whiteblock.debug_section,
//     #overall-footer {
//         scroll-snap-align: start;
//     }
// }

#pending-recruit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    transition: height 0.4s;

    .fiverealms-card {
        margin: 5px;
    }

    .flip-container {
        width: 145px;
        height: 202px;
        margin: 5px;
        .fiverealms-card {
            margin: 0px;
        }
    }

    &:not(:empty) {
        margin: 15px 0px;
    }
}

#fiverealms-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #resizable-central-board {
        width: calc(var(--boardScale) * 775px);
        height: calc(var(--boardScale) * 824px);
        margin: 10px;
        &.recruiting {
            height: calc(var(--boardScale) * 1064px);
            #pending-recruit {
                height: 212px;
            }
        }

        #central-board {
            width: 775px;
            height: 824px;
            transform: scale(var(--boardScale));
            transform-origin: top left;
            display: flex;

            #central-board-left-column {
                width: 160px;
                margin-right: 15px;
                display: flex;
                flex-flow: column;
                align-items: center;

                #fiverealms-deck,
                #fiverealms-discard {
                    width: 160px;
                    height: 216px;
                    background: white;
                    border-radius: 5px;
                    border: 1px solid black;
                    margin-bottom: 10px;
                    position: relative;

                    .fiverealms-card {
                        position: absolute;
                        top: 7px;
                        left: 7px;
                    }
                }

                #fiverealms-discard {
                    .fiverealms-card {
                        filter: grayscale(1);
                    }
                }
            }

            #alkane-container {
                width: 600px;
                height: 824px;
                background: black;
                border-radius: 10px;
                border: 2px solid black;
                box-shadow: 1px 1px 10px black;
                position: relative;

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);

                .alkane-slot {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background: rgba(204, 204, 204, 0.8);
                    border-radius: 7px;
                    &.selectable {
                        cursor: pointer;
                        background: rgba(242, 125, 125, 0.55);

                        &:hover {
                            background: rgba(242, 125, 125, 0.65);
                        }
                    }
                    &.selected,
                    &.selected:hover {
                        background: rgba(122, 252, 62, 0.55);
                    }

                    &.highlighted {
                        background: rgba(242, 125, 125, 0.65);
                        &.selected {
                            background: rgba(122, 252, 62, 0.55);
                        }

                        .fiverealms-card {
                            opacity: 0.5;
                        }
                    }

                    .fiverealms-card {
                        pointer-events: none;
                        position: absolute;
                    }
                }
            }
        }
    }
}
