#popin_showSettings,
.fiverealms_discard_popin {
    background-color: #ebd5bd;
    border-radius: 8px;
    box-shadow: 0 3px 8px black;
    position: relative;

    .fiverealms_discard_popin_closeicon {
        background-color: #a47a77;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -18px;
        right: -18px;
        font-size: 90%;
        color: white !important;
        border: 1px solid #35302d;
        z-index: 2;

        &:hover {
            text-decoration: none;
            color: #ccc !important;
            transform: scale(1.1);
        }

        i {
            margin-top: -2px;
        }
    }

    h2 {
        font-family: MyriadPro-Semibold;
        text-align: center;
        font-size: 25px;
        margin: 0px;
        background: #b79570;
        border-radius: 8px 8px 0px 0px;
        padding: 11px 0px 3px;
        border-bottom: 1px solid #734f2a;
    }
}

.fiverealms_discard_popin {
    width: 700px;

    #fiverealms-discard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .fiverealms-card {
            margin: 10px;
        }
    }

    #discard-modal-footer {
        background: #bbb;
        border-top: 1px solid #797979;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        display: flex;
        justify-content: end;
        padding: 2px 15px;
    }
}
