#fiverealms-main-container {
    .fiverealms-board {
        // scroll-snap-align: start;
        // scroll-padding: 20px;
        margin: 5px 0px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 1px 1px 10px black;
        background-color: #d5a257;
        position: relative;
        width: calc(var(--playerBoardScale) * 1000px);
        height: calc(var(--playerBoardScale) * 500px);

        .player-board-fixed-size {
            display: flex;
            width: 1000px;
            height: 500px;
            transform: scale(var(--playerBoardScale));
            transform-origin: top left;

            .throne-row {
                display: grid;
                height: 200px;
                grid-template-columns: repeat(5, 143px);
                grid-column-gap: 5px;
                background: red;

                .throne-slot {
                    background: blue;

                    &.selectable {
                        cursor: pointer;
                        &:hover {
                            background: green;
                        }
                    }
                }
            }
        }
    }
}
